<!--
<footer>
    <div class="container">
        <p><a href="https://github.com/outrightmental/angularjs-tutorial-1">&hearts; on github</a></p>
    </div>
</footer>
<div class="section-colored text-center ng-scope">
        <div style="background:#000;">
            <div class="container" style="text-align:left;">
                <div class="row">
                    <div class="col-lg-10">
                        <!--<h2 style="color:#fefefe">Footer</h2>- ->
                        <p style="margin: 1em 0 1em;">
                            eporral.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
</div>-->
